@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html {
    font-family: Proxima Nova, sans-serif;
  }
}
body {
    background-color: #E6E9F2;
    padding: 1.8rem 1rem 3rem;
    
}
@media (max-width: 639px){
    body {
        padding:  0.5rem;
        
    
}
}
